footer {
   margin-top: 40px;
   padding: 40px 0;
   color: #ecf0f1;
   background-color: #333;
}
/*
footer .copyright {
   margin-bottom: 80px;
}
*/
section.section {
   padding: 10px 0;
}
section.section.section-default {
   background-color: #f9f9f9;
}
section.section.section-inverse {
   background-color: #fafcff;
}
body @media ( min-width: 768px ) {
   #banner {
      min-height: 300px;
      border-bottom: none;
   }
   .bs-docs-section {
      margin-top: 8em;
   }
   .bs-component {
      position: relative;
   }
   .bs-component .modal {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      z-index: 1;
      display: block;
   }
   .bs-component .modal-dialog {
      width: 90%;
   }
   .bs-component .popover {
      position: relative;
      display: inline-block;
      width: 220px;
      margin: 20px;
   }
   .jumbotron {
      margin-top: 1600px;
   }
   .nav-tabs {
      margin-bottom: 15px;
   }
   .progress {
      margin-bottom: 10px;
   }
}
